:root {
  --primary: #f0a202;
  --secondary: #f18805;
  --light: #d95d39;
  --dark: #202c59;
  --tdprimary: #658e9c;
  --tdsecondary: #3d405b;
  --tdlight: #f4f1de;
  --tdgreen: #e78f8e;
  ----tdbase: #f2cc8f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: var(--tdlight);
}

.calaculator {
  width: 100%;
  max-width: 400px;
  background-color: #581f18;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px, 2px, 64px, rgba(0, 0, 0, 0.2);
  visibility: visible;
}

.calaculator-hidden {
  width: 100%;
  max-width: 400px;
  background-color: #581f18;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px, 2px, 64px, rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

.calc-display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 28px;
  font-weight: 400;
}

.calc-display span {
  font-size: 14px;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: white;
  font-size: 26px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.5;
}

.calc-operators {
  display: flex;
}

.calc-operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.calc-numbers {
  display: flex;
  flex-wrap: wrap;
}

.calc-numbers button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}

.clear-calc button {
  text-align: center;
  width: 100%;
  background-color: var(--secondary);
}

.card-game {
  background-color: var(--dark);
  color: aliceblue;
  width: 600px;
  border-radius: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

.svg-inline--fa {
  display: flex;
  height: 100px;
  padding: 5px;
  flex-basis: auto;
  align-items: center;
}

.card {
  background: var(--secondary);
  height: 100px;
  width: 100px;
  margin: 5px;
}

.card-game .card-list {
  padding: 0px;
  min-width: 100px;
}

button.MuiButtonBase-root.MuiCardActionArea-root.css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root {
  size: 50px;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
}

.todo {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #e07a5f;
  border-radius: 10px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.todo-form.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: var(--tdprimary);
  padding: 10px;
}
.todo-input {
  margin: 5px;
  padding: 10px;
  color: var(--dark);
  background-color: #81b29a;
}

button.todo-button {
  margin: 10px;
  padding: 5px;
  color: var(--dark);
  background-color: var(----tdbase);
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.todo-row-complete.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  color: var(--tdgreen);
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.task.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  align-content: center;
}

.MuiCardActions-root.MuiCardActions-spacing.css-1t6e9jv-MuiCardActions-root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  background-color: var(--tdsecondary);
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.task.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  align-content: center;
  background-color: var(----tdbase);
}

.nav-bar-tabs {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.modal {
  filter: none;
  /* background-color: none; */
  background-color: transparent;
  /* background-color: "#000000"; */
  /* opacity: 1; */
  /* overflow: hidden; */
}
.login-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: var(--tdprimary);
  border: 2px solid rgb(0, 0, 0);
  /* box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px,
    rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px; */
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-modal > *:not(:last-child) {
  display: block;
  margin-bottom: 30px;
}

button.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.login-button.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  color: black;
  border-color: black;
}

button.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.login-button.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:focus {
  color: #0088d1;
  border-color: #0088d1;
}
